:root {
  --green: #44F440;
  --red: #D30303;
  black: #271E1E;
  --white: #EBEBEB;
  --border-color: #2e344e;
  --font: dm-sans;
}

body {
  background-color: var(--background-dark-color);
  font-family: var(--font), sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  margin: 0;
}