:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --background-dark-color: #10121A;
  --background-dark-grey: #191D2B;
  --border-color: #2e344e;
  --font: dm-sans;
}

body {
  background-color: var(--background-dark-color);
  font-family: var(--font), sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  margin: 0;
}