* {
  margin: 0;
  padding: 0;
}

.contener {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  width: 70%;
  margin: 0 auto;
}

.contener > article {
  background: var(--white);
  padding: 5px;
  color: var(--black);
}

.contener > article > p {
  color: var(--black);
}

.contener > article > h1 {
  font-weight: bold;
}

.contener > article > h2 {
  font-size: 1em;
  color: var(--black);
  font-weight: bold;
}

.position0 {
  grid-column: 1/2;
  grid-row: 1 /1;
}

#title {
  grid-column: 2/2;
  grid-row: 1/1;
  background: var(--black);
  color: var(--white);
  text-align: center;
  align-content: center;
  font-size: 4cap;
  font-weight: bold;
}

#title > p {
  background: var(--black);
  color: var(--white);
  text-align: center;
  align-content: center;
  font-weight: bold;
}

.position1 {
  grid-column: 3/3;
  grid-row: 1/1;
}

.position2 {
  grid-column: 1/2;
  grid-row: 2/5;
}

.position2 > img {
  float: left;
  width: 50%;
  height: auto;
}

.position3 {
  grid-column: 2/2;
  grid-row: 2/4;
}

.position3 > img {
  float: left;
  width: 50%;
  height: auto;
}

.position3:first-child {
  padding-left: 5px;
  width: 50px;
}

.position4 {
  grid-column: 3/3;
  grid-row: 2/3;
}

.position4 > img {
  float: left;
  width: 156px;
  height: auto;
}

.position5 {
  grid-column: 2/2;
  grid-row: 4/5;
}

.position5 > img {
  float: left;
  width: 50%;
  height: 50%;
}

.position6 {
  grid-column: 3/3;
  grid-row: 3/4;
}

.position6 > img {
  float: left;
  width: 156px;
  height: auto;
}

.position7 {
  grid-column: 3/3;
  grid-row: 4/5;
}
