.select-news {
  display: block;
  background: var(--black);
  color: var(--white);
  padding-top: 2rem;
}
select-news > h1 {
  font-size: 2rem;
  font-weight: bold;
}
select-news > h2 {
  background: var(--black);
  color: var(--white);
}

.select-news-title {
  font-weight: bold !important;
  padding-bottom: 2rem;
}

.select-news-sub-title {
  font-weight: bold;
}

.selectnews {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: auto;
}

.selectnews > article {
  display: flex;
  background: var(--white);
  color: var(--black);
  width: 430px;
  text-align: center;
  padding: 25px 0;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
.selectnews > article > img {
  width: 100%;
}
.selectnews > article button {
  font-size: 1.4rem;
  padding: 1rem 2rem;
  background-color: var(--blue);
}

.selectnews > article > h2 {
  font-size: 1rem;
  color: var(--black);
  font-weight: bold;
}

.selectnews > article > p {
  font-size: 1rem;
  text-align: left;
}

.reponse {
  width: 550px;
  font-weight: bold;
  color: var(--white);
  word-wrap: nowrap;
  text-align: center;
}
