.card-news {
  display: inline-flex;
  flex-direction: column;
  padding: 2.5rem;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  max-width: 460px;
  gap: 1rem;
  text-align: center;
}
.card-news .container-buttons {
  width: 100%;
}
.card-news figcaption {
  padding: 0.5rem;
}
.btn-rond {
  border: none;
  display: flex;
  width: 5rem;
  height: 5rem;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 2.5rem;
  color: var(--white);
}
#btn_true {
  background-color: var(--blue);
}
#btn_false {
  background-color: var(--red);
}
