.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: 20px;
}

h2 {
  text-align: center;
  color: var(--blue);
  margin: 0;
  padding: 0;
  font-family: var(--font), sans-serif;
  font-size: 3rem;
}

h3 {
  text-align: center;
  color: var(--blue);
  margin: 0;
  padding: 0;
  font-family: var(--font), sans-serif;
  font-size: 2rem;
}

h5 {
  text-align: center;
  color: var(--blue);
  margin: 0;
  padding: 0;
  font-family: var(--font), sans-serif;
  font-size: 1rem;
}

h4 {
  text-align: left;
  color: var(--blue);
  margin: 0;
  padding: 0;
  font-family: var(--font), sans-serif;
  font-size: 1rem;
}

p {
  color: var(--black);
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

#card1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  background-color: var(--black);
  border: 1px solid var(--white);
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

#card2,
#card3 {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 400px;
  background-color: var(--white);
  border: 1px solid var(--black);
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

#spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 15px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.submit {
  background-color: var(--blue);
  color: var(--black);
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-family: var(--font), sans-serif;
  transition: background-color 0.2s ease;
  cursor: pointer;
  padding: 5px;
}

.submit:hover {
  background-color: var(--black);
  color: var(--blue);
  border: solid 1px var(--blue);
}

.plus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 32px;
  font-size: 0.8rem;
  background-color: var(--black);
  color: var(--blue);
  border-radius: 8px;
  cursor: pointer;
}

.plus:hover {
  background-color: var(--blue);
  color: var(--black);
}

#img2,
#img3 {
  width: 40%;
  height: 30%;
  object-fit: cover;
  border-radius: 5px;
}

#imageTitre {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
  object-fit: cover;
  border-radius: 5px;
}

.error {
  color: red;
  font-size: 0.8rem;
}
