article {
  background-color: white;
  font-family: var(--font), sans-serif;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.navigation {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

p {
  text-align: center;
}
