.footer {
  background-color: white;
  font-family: var(--font), sans-serif;
  bottom: 0;
  position: fixed;
  width: 100%;
  padding: 3rem;
}

.container-fluid {
  display: flex;
  justify-content: space-around;
  margin: 0px;
}

.contact-col-md-4 {
  list-style-type: none;
}

.navigation-col-md-4 {
  list-style-type: none;
}
