header {
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: white;
}

ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 100px;
  list-style: none;
}

.lien {
  text-decoration: none;
  color: var(--black);
  font-family: var(--font), sans-serif;
  font-size: 1.3rem;
}

.icon-user {
  font-size: 30px;
}
